In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from sklearn.metrics import mean_squared_error
from math import sqrt
plt.rcParams.update({'figure.figsize':(9,3), 'figure.dpi':120})
pd.options.mode.chained_assignment = None

In [2]:
#data cleaning

In [3]:
dataset=pd.read_excel('DataSet1.xlsx')

In [4]:
dataset.head()

       "Date","Temp"
0  "1981-01-01",20.7
1  "1981-01-02",17.9
2  "1981-01-03",18.8
3  "1981-01-04",14.6
4  "1981-01-05",15.8

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3650 entries, 0 to 3649
Data columns (total 1 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   "Date","Temp"  3650 non-null   object
dtypes: object(1)
memory usage: 28.6+ KB

In [6]:
new = dataset['"Date","Temp"'].str.split(",", n = 1, expand = True)

In [7]:
dataset['Date']=new[0]
dataset['Temp']=new[1]

In [8]:
dataset['Temp'].iloc[1859]

'11.6'

In [9]:
dataset['Date'].iloc[1859]

'"1986-02-04"'

In [10]:
temp=dataset['Temp'].iloc[1859]
dat=dataset['Date'].iloc[1859]

In [11]:
print(temp)

11.6

In [12]:
dataset['Temp'].iloc[1859]=temp
dataset['Date'].iloc[1859]=dat

In [13]:
dataset.loc[1859]

"Date","Temp"    "1986-02-04",11.6
Date                  "1986-02-04"
Temp                          11.6
Name: 1859, dtype: object

In [14]:
dataset['Date']=dataset['Date'].str.replace('\"','')

In [15]:
dataset['Temp']=pd.to_numeric(dataset['Temp'])
dataset['Date']=pd.to_datetime(dataset['Date'],format='%Y-%m-%d')

In [16]:
dataset.drop(['"Date","Temp"'], axis=1,inplace=True)

In [17]:
dataset.head()

        Date  Temp
0 1981-01-01  20.7
1 1981-01-02  17.9
2 1981-01-03  18.8
3 1981-01-04  14.6
4 1981-01-05  15.8

In [18]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3650 entries, 0 to 3649
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3650 non-null   datetime64[ns]
 1   Temp    3650 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 57.2 KB

In [19]:
dataset.head()

        Date  Temp
0 1981-01-01  20.7
1 1981-01-02  17.9
2 1981-01-03  18.8
3 1981-01-04  14.6
4 1981-01-05  15.8

In [20]:
#convert Xlsx to Csv file

In [21]:
dataset.to_csv('your_csv.csv', encoding='utf-8')

In [22]:
# Import data
df = pd.read_csv('your_csv.csv', names=['value'], header=0)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 3650 entries, (0, '1981-01-01') to (3649, '1990-12-31')
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   3650 non-null   float64
dtypes: float64(1)
memory usage: 99.8+ KB

In [26]:
df.head()

              value
0 1981-01-01   20.7
1 1981-01-02   17.9
2 1981-01-03   18.8
3 1981-01-04   14.6
4 1981-01-05   15.8

In [25]:
#split data to train and test

In [27]:
#SES_MODEl
from statsmodels.tsa.holtwinters import SimpleExpSmoothing
model = SimpleExpSmoothing(df)
model_fit = model.fit()
# make prediction
yhat = model_fit.predict(3500,3649)

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:213: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  warnings.warn('An unsupported index was provided and will be'